 .u-section-1 {
  background-image: url("images/webdesign2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 873px;
}

.u-section-1 .u-group-1 {
  width: 712px;
  min-height: 484px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 127px auto 60px -112px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 39px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 6.875rem;
  text-transform: uppercase;
  line-height: 1;
  background-image: none;
  text-shadow: 4px 4px 0px rgba(118,71,73,0.4);
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 410px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 280px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 67px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 15px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 70px;
  width: 70px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 67px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 230px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1394px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 1009px;
  height: auto;
  margin: 99px 38px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-shape-1 {
  width: 770px;
  height: 633px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 274px auto 0 -524px;
}

.u-section-3 .u-image-1 {
  width: 491px;
  height: 463px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -685px auto 0 31px;
}

.u-section-3 .u-shape-2 {
  width: 431px;
  height: 704px;
  margin: -496px -32px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 464px;
  height: 615px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -653px 21px 0 auto;
}

.u-section-3 .u-group-2 {
  width: 501px;
  min-height: 853px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -965px auto 60px 31px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 375px 40px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 48px 40px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-image-2 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    min-height: 937px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 321px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    margin-top: -354px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 451px;
    margin-top: -297px;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    min-height: 898px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 918px;
}

.u-section-4 .u-shape-1 {
  width: 662px;
  height: 334px;
  background-image: none;
  margin: 476px auto 0 20px;
}

.u-section-4 .u-image-1 {
  height: 701px;
  width: 751px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  object-position: 100% 50%;
  margin: -722px 78px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -687px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 418px;
  min-height: 543px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  margin: -107px auto 60px 71px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px 25px 35px;
}

.u-section-4 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 67px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-4 .u-shape-1 {
    width: 598px;
    height: 302px;
  }

  .u-section-4 .u-image-1 {
    height: 459px;
    width: 590px;
    margin-right: 52px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-4 .u-image-1 {
    height: 416px;
    width: 534px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-4 .u-shape-1 {
    width: 487px;
    height: 284px;
    margin-top: 868px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 321px;
    width: 462px;
    margin-top: -1062px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 61px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -141px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1172px;
  }

  .u-section-4 .u-shape-1 {
    height: 291px;
    width: 291px;
    margin-top: 1028px;
  }

  .u-section-4 .u-image-1 {
    height: 236px;
    width: 340px;
    margin-top: -1049px;
  }

  .u-section-4 .u-shape-2 {
    width: 174px;
    height: 174px;
    margin-top: 97px;
  }

  .u-section-4 .u-group-1 {
    width: 273px;
    min-height: 613px;
    margin-top: -125px;
    margin-bottom: 0;
  }
} .u-section-5 {
  background-image: none;
  min-height: 812px;
}

.u-section-5 .u-shape-1 {
  height: 408px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -339px auto 0;
}

.u-section-5 .u-list-1 {
  width: 678px;
  margin: 44px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 16.5px) calc(50% - 16.5px);
  min-height: 515px;
  grid-gap: 33px 33px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-5 .u-image-1 {
  width: 160px;
  height: 160px;
  background-image: url("images/image3.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 130px 62px 0 52px;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 21px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 6px auto 0;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-5 .u-image-2 {
  width: 160px;
  height: 160px;
  background-image: url("images/image42.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 130px 62px 0 52px;
}

.u-section-5 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 21px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 6px auto 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 969px;
}

.u-section-6 .u-shape-1 {
  width: 368px;
  height: 368px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px auto 0 293px;
}

.u-section-6 .u-image-1 {
  width: 493px;
  height: 493px;
  background-image: url("images/rtttt.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -245px auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 369px;
  height: 369px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/err-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -156px auto 0 293px;
}

.u-section-6 .u-group-1 {
  width: 527px;
  min-height: 514px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -653px -17px 60px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 7px;
}

.u-section-6 .u-text-1 {
  margin: 76px 23px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 300;
  margin: 54px 23px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-6 .u-shape-1 {
    width: 421px;
    height: 421px;
    margin-left: 204px;
  }

  .u-section-6 .u-image-1 {
    width: 429px;
    height: 429px;
    margin-top: -298px;
  }

  .u-section-6 .u-image-2 {
    width: 351px;
    height: 351px;
    margin-top: -78px;
    margin-left: 204px;
  }

  .u-section-6 .u-group-1 {
    width: 449px;
    margin-top: -627px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1283px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -231px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    width: 556px;
    min-height: 528px;
    margin-top: -57px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-6 .u-shape-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    margin-top: -140px;
    margin-right: 0;
  }

  .u-section-6 .u-group-1 {
    min-height: 521px;
    width: 458px;
    margin-top: -50px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1255px;
  }

  .u-section-6 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 309px;
    height: 309px;
    margin-top: -217px;
  }

  .u-section-6 .u-image-2 {
    width: 242px;
    height: 242px;
    margin-top: -76px;
  }

  .u-section-6 .u-group-1 {
    min-height: 477px;
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 710px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 596px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 80px 30px 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 2px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 476px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 22px;
}

.u-section-7 .u-image-1 {
  height: 476px;
  margin-bottom: 0;
  margin-top: 0;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-7 .u-image-1 {
    height: 386px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-7 .u-image-1 {
    height: 518px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 560px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 471px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 683px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-7 .u-image-1 {
    height: 290px;
  }
}